header{
    text-align: center;
}

.main-conatiner{
    display: grid;
    grid-template-columns: repeat(5, auto);
}

/* .row{
    min-width: 100px;
} */

.dataClass{
    display: flex;
    flex-direction: row;
}

.leftClass{
    min-width: 100px;
}